.to-do-heading {
  color: chocolate;
  font-family: arial;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
  margin-left: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.container {
  background-color: #b7950b;
  display: inline-block;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.to-do-input,
.to-do-data-input {
  padding: 5px;
  padding-left: 20px;
  background-color: darkslategray;
  border: none;
  margin-right: 20px;
}
.to-do-data-input {
  background-color: darkseagreen;
}
.addTaskButtonOnClick,
.delete-todo-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  border: none;
  background-color: darkslateblue;
  color: white;
  border-radius: 20px;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin-left: 10px;
}
.todo-input-grid {
  margin-bottom: 20px;
}

.delete-todo-button {
  background-color: red;
}

.task,
.date {
  color: black;
  font-weight: bold;
  font-family: arial;
}
